.divSearchBar{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px;
    border: solid white 2px;
    border-radius: 10px;
    width: 250px;
    background-color: transparent;
    flex-direction: row;
    backdrop-filter: blur(1px);
    color: white;

}

.inputSearch{
    display: flex;
    border: none;
    background-color:transparent;
    color: white;
   
}